html{
	height: 100%;
	width: 100%;
}

body{
	margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    text-align: center;
    font-family:Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size:14px;

	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/img_firstpage.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.corner-container{
	width: 100%;
	height: auto;
	position: relative;
	display: inline-block;
	font-family: Tahoma, arial, sans-serif;
	vertical-align: middle;
}

.sign-pad{
	float: right;
	font-size: 14pt;
}
.sign-in-pad{
	text-align: left;
	float: left;
	padding: 15px 80px 5px 20px;
	width: auto;
	height: auto;
}

.sign-up-pad{
	text-align: left;
	float: left;
	padding: 15px 80px 5px 20px;
	width: auto;
	height: auto;
}

.input{
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
	width: 180px;
	position: relative;
}

input{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	height:100%;
	width: 100%;
	font-size: 14pt;
	padding-left: 5px;
	padding-right: 5px;
}

#button-sub{
	cursor:pointer;
	height:100%;
	width:195px;
	color:white;
	font-weight:bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
	border: 1px solid #0a90c9;
	background: #0a9aec url(../images/s.gradient.png?v=1) repeat-x 0 -600px;
	font-size: 15pt; 
}

#check-remember{
	float: left;
	height: 30px;
	width: 200px;
}

#check-button{
	width: auto;
	float: left;

}

.lab{
	float: left;
	text-align: left;
	position: absolute; 
	bottom: 0;
}

.suplink{
	float: right;
	text-align: right;
	right: 0;
}

.lab-vertical-mid{
	font-size: 14px;
}

.center-container{
	width: 100%;
	position: relative;
	display: inline-block;
	font-family: Tahoma, arial, sans-serif;
	vertical-align: center;
}

