@media screen and (min-width: 960px){
    .main{
        margin: 0 auto;
        width: 960px;
        padding: 15px 0 15px 0;
    }

}
@media screen and (max-width: 960px){
    .main{
        margin: 0 auto;
        width: 95%;
        padding: 15px 0 15px 0;
    }
}

.class{
    border: 1px solid #a4a4a4;
}

h3{
	font-family: "heiti";
	font-style: bold;
	font-size: 2em;
	color: #848484;
	margin-bottom: 5px; 
}

#ContactForm span {
    float: left;
    line-height: 20px;
    width: 111px;
}

#ContactForm .wrapper {
    min-height: 24px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 10px;
}

#ContactForm .textarea_box {
    min-height: 170px;
    overflow: hidden;
    padding-bottom: 9px;
    width: 100%;
}

#ContactForm textarea {
    background: none repeat scroll 0 0 #FAF3ED;
    color: #220000;
    font: 14px Georgia,"Times New Roman",Times,serif;
    height: 163px;
    margin: 0;
    overflow: auto;
    padding: 1px 5px;
    max-width: 789px;
    width: 95%;
}

#ContactForm a {
    float: right;
    margin-left: 20px;
    margin-right: 40px;
}
.button1 {
    background: none repeat scroll 0 0 #A80002;
    color: #FAF3ED;
    display: inline-block;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 34px;
    padding: 0 15px;
}