/* rewrite narvar margin-bottom of bootstrap*/
.navbar{
	margin-bottom: 0;
}
.navbar-brand {    
    padding: 0;
}

/*---start-header----*/
/*.header {
	width: 100%;
	background: #eee;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
}*/
.header-left{
	float:left;
	height: 45px;
}
.logo a{
	color: #009fcc;
	/*font-family: 'open_sanssemibold';*/
	font-family:Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
	font-size: 2.8em;
}
.header-right{
	float:right;
	min-width: 651px;
	height: 45px;
}
.top-nav ul li{
	display:inline-block;
}
.top-nav ul li a{
	padding: 0 0.8em;
	display: block;
	font-size: 1.2em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.top-nav ul li a:hover{
	color:#E95393;
}
.top-nav{
	float:left;
	margin-top: 11px;
}
.sign-login-btns{
	float:right;
	
}
.sign-login-btns ul li{
	display:inline-block;
	margin-left: 1em;
}
.sign-login-btns ul li a.signup span,.sign-login-btns ul li a.login span{
	padding: 0.5em 1.8em 0.55em 1.8em;
	display: block;
	font-size: 1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
.sign-login-btns ul li a.signup{
	background:#53CBE9;
	color:#FFF;
}
.sign-login-btns ul li a.signup:hover{
	background: #43C5E6;
}
.sign-login-btns ul li a.login{
	background:#F36EA7;
	color:#FFF;
}
.sign-login-btns ul li a.login:hover{
	background: #EE639F;
}
/*---End-header----*/


#signupForm{
	width: 100%;
}

#signupForm fieldset{
	margin: 0 0 5px 0;
}
#loginForm #checkbox{
	margin-top:4px;
}
#loginForm fieldset{
	margin: 0 0 5px 0;
}
#loginForm{
	width: 100%;
}
#loginForm input{
	display: block;
}
.modal-dialog {
  width: 300px;
}

.m-login-form{
	height:290px;
}
.WB_loginButton img{
	padding-left: 13px;
}
.pl13{
	padding-left: 13px;
}
.mb20{
	margin-bottom:20px;
}
.fs80{
	font-size: 80%;
}


/*-------------------old css style-------------------*/
/* signup Container (default to float:right) */
#signupContainer {
    position:relative;
    float: left;
}

/* Login Button */
#signupButton { 
    display: inline-block;
	float: right;
	position: relative;
	z-index: 30;
	top: -3px;
	cursor: pointer;
}
#personalButton { 
    display: inline-block;
	float: right;
	position: relative;
	z-index: 30;
	top: -3px;
	cursor: pointer;
}
/* Login Button Text */
#signupButton span {
  	display: block;
	text-align: center;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
#personalButton span {
  	display: block;
	text-align: center;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
/* Login Box */
#signupBox {
    position: absolute;
	top: 66px;
	right: 0;
	display: none;
	z-index: 999;
	padding-bottom: 0.8em;
	background: #fff;
	border: 1px solid #eee;
}
/* If the Login Button has been clicked */    
#signupButton.active {
	border-radius: 0.15em;
}
.active span:hover{
	color:#FFF;
}
/* Login Form */
#signupForm {
    width: 270px;
	z-index: 999;
}
#signupForm fieldset {
    margin:0 0 0px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#signupbody {
    background:#fff;
    padding:10px 13px;
    margin:0;
}
#signupForm #checkbox {
    width:auto;
    margin: 7px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#signupbody label {
    color:#777777;
    display:block;
    float:left;
    line-height: 1.5em;
}
#signupForm #signupbody fieldset label {
    display: block;
	color: #777;
	font-size: 0.875em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5em;
}
#signupForm #signupbody fieldset label span{
	display: inline-block;
	padding: 0px;
	font-size: 0.875em;
	color:#F36EA7;
}
/* Default Input */
#signupForm input[type="text"],#signupForm input[type="password"]{
    width: 93.6%;
	color: #3a454d;
	padding: 8px 8px;
	margin: 0.3em 0;
	border: 1px solid #D8D8D8;
	font-size: 0.875em;
	font-family: 'open_sansregular';
	transition: border-color 0.5s all;
	-webkit-transition: border-color 0.5s all;
	-moz-transition: border-color 0.5s all;
	-o-transition: border-color 0.5s all;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
#signupForm input:hover{
	border: 1px solid #999;
} 
.remeber{
	margin-top:0.5em;
}
/* Sign In Button */
#signupForm #signup {
    color: #fff;
	font-size: 0.875em;
	font-weight: normal;
	padding: 10px 15px;
	text-transform: uppercase;
	background:#00aa55;
	display: inline-block;
	width: 100%;
	cursor:pointer;
	margin: 1em 0 0 0;
	border: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
	font-family: 'open_sansregular';
}
#signupButton span:hover{
	color:#FFF;
}
#signupForm #signup:hover{
	background:#3D3D3D;
}
/* Forgot your password */
#signupForm span {
    display: block;
	background: #fff;
	padding: 0px 0px 0px 13px;
}
#signupForm span a {
    color: #777;
	font-size: 0.875em;
}
input:focus {
    outline:none;
}
/*----//End-content---*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float: left;
}

/* Login Button */
#loginButton { 
    display: inline-block;
	float: right;
	position: relative;
	z-index: 30;
	top: -3px;
	cursor: pointer;
}
#logoutButton { 
    display: inline-block;
	float: right;
	position: relative;
	z-index: 30;
	top: -3px;
	cursor: pointer;
}
/* Login Button Text */
#loginButton span {
  display: block;
	text-align: center;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
#logoutButton span {
  display: block;
	text-align: center;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
/* Login Box */
#loginBox {
    position: absolute;
	top: 66px;
	right: 0;
	display: none;
	z-index: 999;
	padding-bottom: 0.8em;
	background: #fff;
	border: 1px solid #eee;
}
/* If the Login Button has been clicked */    
#loginButton.active {
	border-radius: 0.15em;
}
.active span:hover{
	color:#FFF;
}
/* Login Form */
#loginForm {
    width: 270px;
	z-index: 999;
}
#loginForm fieldset {
    margin:0 0 0px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    background:#fff;
    padding:10px 13px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin: 7px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
    color:#777777;
    display:block;
    float:left;
    line-height: 1.5em;
}
#loginForm #body fieldset label {
    display: block;
	color: #777;
	font-size: 0.875em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5em;
}
/* Default Input */
#loginForm input {
    width: 93.6%;
	color: #3a454d;
	padding: 8px 8px;
	margin: 0.3em 0;
	border: 1px solid #D8D8D8;
	font-size: 0.875em;
	font-family: 'open_sansregular';
	transition: border-color 0.5s all;
	-webkit-transition: border-color 0.5s all;
	-moz-transition: border-color 0.5s all;
	-o-transition: border-color 0.5s all;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
#loginForm input:hover{
	border: 1px solid #999;
} 
.remeber{
	margin-top:0.5em;
}
/* Sign In Button */
#loginForm #login {
    color: #fff;
	font-size: 0.875em;
	font-weight: normal;
	padding: 10px 15px;
	text-transform: uppercase;
	background:#00aa55;
	display: inline-block;
	width: 100%;
	cursor:pointer;
	margin: 1em 0 0 0;
	border: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
#loginButton span:hover{
	color:#FFF;
}
#loginForm #login:hover{
	background:#3D3D3D;
}
/* Forgot your password */
#loginForm span {
    display: inline-block;
    font-size: 0.875em;
	background: #fff;
	padding: 0;
	color: #F36EA7;
}
#loginForm span a {
    color: #777;
	font-size: 0.875em;
	padding-left: 15px;
}
input:focus {
    outline:none;
}

/*---//End-container-----*/