/* rewrite narvar margin-bottom of bootstrap*/
.navbar{
	margin-bottom: 0;
}


/*---start-header----*/
.header {
	width: 100%;
	background: #eee;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
}
.header-left{
	float:left;
	height: 45px;
}
.logo a{
	color: #009fcc;
	/*font-family: 'open_sanssemibold';*/
	font-family:Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
	font-size: 2.8em;
}
.header-right{
	float:right;
	min-width: 651px;
	height: 45px;
}
.top-nav ul li{
	display:inline-block;
}
.top-nav ul li a{
	padding: 0 0.8em;
	display: block;
	font-size: 1.2em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.top-nav ul li a:hover{
	color:#E95393;
}
.top-nav{
	float:left;
	margin-top: 11px;
}
.sign-login-btns{
	float:right;
	
}
.sign-login-btns ul li{
	display:inline-block;
	margin-left: 1em;
}
.sign-login-btns ul li a.signup span,.sign-login-btns ul li a.login span{
	padding: 0.5em 1.8em 0.55em 1.8em;
	display: block;
	font-size: 1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
.sign-login-btns ul li a.signup{
	background:#53CBE9;
	color:#FFF;
}
.sign-login-btns ul li a.signup:hover{
	background: #43C5E6;
}
.sign-login-btns ul li a.login{
	background:#F36EA7;
	color:#FFF;
}
.sign-login-btns ul li a.login:hover{
	background: #EE639F;
}
/*---End-header----*/


#signupForm{
	width: 100%;
}

#signupForm fieldset{
	margin: 0 0 5px 0;
}
#loginForm #checkbox{
	margin-top:4px;
}
#loginForm fieldset{
	margin: 0 0 5px 0;
}
#loginForm{
	width: 100%;
}
#loginForm input{
	display: block;
}
.modal-dialog {
  width: 300px;
}

.m-login-form{
	height:290px;
}
.WB_loginButton img{
	padding-left: 13px;
}
.pl13{
	padding-left: 13px;
}
.mb20{
	margin-bottom:20px;
}
.fs80{
	font-size: 80%;
}
