html {
	height: 100%;
}
body {
	background: #E2E4E7;
	padding: 0;
	text-align: center;
	font-family: 'open sans';
	position: relative;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

a {
	text-decoration: none;
}


.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main section  {
	overflow: hidden;
}

.main section.page1 {
	background:rgb(230, 217, 200);
}
.main section.page2 {
	background: #555557 url(back-phone.png) no-repeat center -150px ;
}
.main section.page3 {
	background:url(tilted-phone.png) no-repeat 156px -150px ;
}

/*--------------------------------------------------------*/

.bg{
	background: url(../images/img_firstpage.jpg) no-repeat;
	background-size: 100% 480px;
	webkit-background-size: 100% 480px;
	height: 480px;
}


.heightBlank{
	height: 80px;
}

.slogan h2{
	color:#FFFFFF;
	width: 77%;
	top:120px;
	white-space: nowrap;
	z-index: 10;
	text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.35);
	-webkit-text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.35);
	-moz-text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.35);
	-o-text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.35);
	font-size:3.2em;
}
.slogan p{
	top: 190px;
	color: #FFFFFF;
	font-size: 2.8em;
	overflow: hidden;
	font-family: 'open_sansregular';
	font-weight: 400;
	line-height: 1.2em;
	margin: 0 auto;
	width: 58%;
	text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.35);
	-webkit-text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.35);
	-moz-text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.35);
	-o-text-shadow: 0px 0px 10px rgba(85, 85, 85, 0.35);
}

.slogan .slogan-link{
	color: #FFF;
	border: 2px solid #fff;
	padding: 0.6em 1.5em;
	border-radius: 1.2em;
	z-index:10;
}
.slogan-link:hover{
	color: #eee;
	border: 2px solid #eee;
}

.center {
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}
