@media screen and (min-width: 960px){
    .main{
        margin: 0 auto;
        width: 960px;
    }

}
@media screen and (max-width: 960px){
    .main{
        margin: 0 auto;
        width: 95%;
    }
}

h3{
  font-family: "heiti";
  font-style: bold;
  font-size: 2em;
  color: #848484;
  margin-bottom: 5px; 
}

.personal-pad{
  text-align:left;
  border: 1px solid #a4a4a4;
  margin: 15px;
  padding: 15px;
  min-height: 200px;
}

#person-info-pad{
  width: 100%;
  text-align:left;
  min-height: 400px;
  padding-top: 20px;
}

.inp{
  padding-bottom: 10px; 
}

#modifybutton{
  color: #fff;
  font-size: 0.875em;
  font-weight: normal;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #00aa55;
  display: inline-block;
  min-width: 88px;
  cursor: pointer;
  margin: 1em 0 0 0;
  border: none;
}

#deletebutton{
  color: #fff;
  font-size: 0.875em;
  font-weight: normal;
  text-transform: uppercase;
  background: red;
  display: inline-block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin: 1em 0 0 1em;
  border: none;
  float: right;
}


/*------------ tabs ------------*/
.tabs {
  width: 90%;
  position: relative;
  margin: 10px 0 0 10px;
  text-align: left;

}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 17px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: white;
  cursor: pointer;
  position: relative;
  top: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: white;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: white;
  border-top: thin solid gray;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #53CBE9;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}


/*------results-----------*/
#results{
  width: 100%;
  min-height: 200px;
  height: auto;
  margin: 15px;
  padding: 15px;
  -webkit-border: 1px solid #a4a4a4;
  -moz-border: 1px solid #a4a4a4;
  -ms-border: 1px solid #a4a4a4;
  -o-border: 1px solid #a4a4a4;
  border: 1px solid #a4a4a4;
  text-align:left;
}
#result-pad-right{
  width: auto;
  height: 100%;
  text-align: middle;
  padding:0 5px;
}
#search-results{
  padding:10px 5px;
  width:98%;
  height: 100%;
}
.search-result-pickup{
  width: 100%;
  height: 80px;
  background-color: #f0ffff;
}
.search-result-picked{
  width: 100%;
  height: 80px;
  background-color: #fffafa;
}
.search-result-mouseover{
  width: 100%;
  height: 80px;
  background-color: #eeffbb;
  cursor:pointer;
}


.result-detail{
  width: 100%;
  padding: 5px 5px 5px 0;
  float: left;
  height: 100%; 
}
.result-loc{
  float: left;
  padding: 5px;
  width: 40%;
  height: auto;
}
.result-time{
  float:left;
  padding: 5px;
  width: auto;
  width: 15%;
}
.result-pubtime{
  float: left;
  padding: 5px;
  width: 15%;
}
.result-seats{
  float: left;
  padding: 5px;
  width: 12%;
}
.result-reserv{
  font-size: 0.85em;
  color: gray;
}

.result-price-normal{
  float:left;
  font:1.2em/1.5em Arial,sans-serif;
  font-weight:bold;
  font-size:24px;
  color:#ff8c00;
  padding:5px;

}

.result-price-normal label{
  padding: 0;
  background-color: transparent;
}

