@media screen and (min-width: 900px){
	.main{
		margin: 0 auto;
		width: 900px;
	}

	.start_pos{
		float:left;
		width:40%;
		height: auto;
	}

	.end_pos{
		float:left;
		width:40%;
	}

	.go_date{
		width:20%;
	}

}
@media screen and (max-width: 900px){
	.main{
		margin: 0 auto;
		width: 95%;
	}

	.start_pos{
		float:left;
		width:48%;
		height: auto;
		margin-right: 5px;
	}

	.end_pos{
		float:left;
		width:48%;
	}

	.go_date{
		width:50%;
	}
}


h3{
	font-family: "heiti";
	font-style: bold;
	font-size: 2em;
	color: #848484;
	margin-bottom: 5px; 
}

.searcher-pad{
	text-align:left;
	border: 1px solid #a4a4a4;
	/*margin-top: 15px;*/
	margin-bottom: 20px;
	padding: 15px;
}

#search-pad-left{
	width: 100%;
}

.searcher-pad select,input{
	width:100%;
	border: 1px solid ;
	padding:6px 8px;
	margin: 2px 0;
	height: auto;
	max-width: 320px;
}

.search-bars{
	padding:0;
	width:100%;
}


.input_date{
	height:32px;
}

#search-bars #search-button {
	width:19%;
	float:left;
}

.button_search {
	width:100%;
	height:36px;
	font-family: "heiti";
	margin: 18px 0 0 auto;
}

/*------results-----------*/
#results{
	min-height: 200px;
	height: auto;
	margin-bottom: 15px;
	padding: 15px;
	-webkit-border: 1px solid #a4a4a4;
	-moz-border: 1px solid #a4a4a4;
	-ms-border: 1px solid #a4a4a4;
	-o-border: 1px solid #a4a4a4;
	border: 1px solid #a4a4a4;
	text-align:left;
}
#result-pad-right{
	width: auto;
	height: 100%;
	text-align: middle;
}

#loadingdiv{
	margin: 0;
	height: 200px;
	
	width: 60%;
	opacity:.50;
	position:absolute;
	
	background:url("../images/loading.gif") center no-repeat;
}

#search-results{
	padding:10px 0;
	width:98%;
	height: 100%;
}
.search-result-pickup{
	width: 100%;
	min-height: 80px;
	height: auto;
	background-color: #f0ffff;
	margin: 5px 0 5px 0;
}
.search-result-picked{
	width: 100%;
	min-height: 80px;
	height: auto;
	background-color: #fffafa;
	margin: 5px 0 5px 0;
}
.search-result-mouseover{
	width: 100%;
	min-height: 80px;
	height: auto;
	background-color: #eeffbb;
	cursor:pointer;
	margin: 5px 0 5px 0;
}


.result-owner{
	width: 10%;
	top: 50%;
	float: left;
	height: 100%
}
.result-detail{
	width: 88%;
	float: left;
	height: 100%; 
}
.result-loc{
	float: left;
	padding: 5px;
	width: 45%;
	height: auto;
}
.result-time{
	float:left;
	padding: 5px;
	width: auto;
	width: 15%;
}

@media screen and (max-width: 800px){
	.result-pubtime{display: none;}
	.result-seats{display: none;}
	.result-loc{width: 60%;}
}


.result-pubtime{
	float: left;
	padding: 5px;
	width: 15%;
}
.result-seats{
	float: left;
	padding: 5px;
	width: 12%;
}
.result-reserv{
	font-size: 0.85em;
	color: gray;
}

.result-price-normal{
	float:right;
	margin-right:5px;
	font:1.2em/1.5em Arial,sans-serif;
	font-weight:bold;
	font-size:24px;
	color:#ff8c00;
	padding:5px;
}

@media screen and (max-width: 510px){
	.result-price-normal{
		padding-top: 30px;
		padding-right: 0;
		margin-right: 0;
	}
}

.filter-bars{
	min-height: 20px;
	width: 100%;
	margin: 10px 0;
}

.filter-bars input{
	width: auto;
	margin: 0 2px 0 10px;
	padding: 0;
	border: none;
}

#chk-type{
	float: left;
	margin: 0 30px 0 0 ;
}

.rad-fil{
	width: auto;
	float: left;
	margin: 0 30px 0 0 ;
}

.result-price-expensive{
	float:right;
	margin-right:5px;
	font:1.2em/1.5em Arial,sans-serif;
	font-weight:bold;
	font-size:24px;
	color:#e3170d;
	padding:20px 5px 5px 0;
}


.result-price-cheap{
	float:right;
	margin-right:5px;
	font:1.2em/1.5em Arial,sans-serif;
	font-weight:bold;
	font-size:24px;
	color:#669d17;
	padding:20px 5px 5px 0;
}

.history-seperator{
	position: relative;
	margin-top: 20px;
	border-top: 1px solid #1f78ba;
	text-align: center;
	color: #259;
}

.history-seperator span{
	position: relative;
	top: -10px;
	display: inline-block;
	padding: 0 20px;
	background: #fff;
}