.main{
	margin: 0 auto;
	width: 960px;
}

h3{
	font-family: "heiti";
	font-style: bold;
	font-size: 2em;
	color: #848484;
	margin-bottom: 5px; 
}

.searcher-pad{
	width: 100%;
	text-align:left;
	border: 1px solid #a4a4a4;
	margin: 15px;
	padding: 15px;
	height: 200px;
}

#search-pad-left{
	float: left;
	width: 100%;
	height: 205px;
}

.searcher-pad select,input{
	width:97%;
	border: 1px solid ;
	padding:6px 8px;
	margin: 2px 0;
	height: auto;
}

.search-bars{
	padding:0;
	width:100%;
	height: 60px;
}

.start_pos{
	float:left;
	width:40%;
	height: auto;
}

.end_pos{
	float:left;
	width:40%;
}

.go_date{
	width:20%;
}

.input_date{
	height:32px;
}

#search-bars #search-button {
	width:19%;
	float:left;
}

.button_search {
	width:100%;
	height:36px;
	font-family: "heiti";
	margin: 18px 0 0 auto;
}

/*------results-----------*/
#results{
	width: 100%;
	min-height: 200px;
	height: auto;
	margin: 15px;
	padding: 15px;
	-webkit-border: 1px solid #a4a4a4;
	-moz-border: 1px solid #a4a4a4;
	-ms-border: 1px solid #a4a4a4;
	-o-border: 1px solid #a4a4a4;
	border: 1px solid #a4a4a4;
	text-align:left;
}
#result-pad-right{
	width: auto;
	height: 100%;
	text-align: middle;
	padding:0 5px;
}

#loadingdiv{
	margin: 0;
	height: 200px;
	
	width: 60%;
	opacity:.50;
	position:absolute;
	
	background:url("../images/loading.gif") center no-repeat;
}

#search-results{
	padding:10px 5px;
	width:98%;
	height: 100%;
}
.search-result-pickup{
	width: 100%;
	min-height: 80px;
	height: auto;
	background-color: #f0ffff;
}
.search-result-picked{
	width: 100%;
	min-height: 80px;
	height: auto;
	background-color: #fffafa;
}
.search-result-mouseover{
	width: 100%;
	min-height: 80px;
	height: auto;
	background-color: #eeffbb;
	cursor:pointer;
}


.result-owner{
	width: 10%;
	top: 50%;
	padding: 5px;
	float: left;
	height: 100%
}
.result-detail{
	width: 88%;
	padding: 5px 5px 5px 0;
	float: left;
	height: 100%; 
}
.result-loc{
	float: left;
	padding: 5px;
	width: 45%;
	height: auto;
}
.result-time{
	float:left;
	padding: 5px;
	width: auto;
	width: 15%;
}
.result-pubtime{
	float: left;
	padding: 5px;
	width: 15%;
}
.result-seats{
	float: left;
	padding: 5px;
	width: 12%;
}
.result-reserv{
	font-size: 0.85em;
	color: gray;
}

.result-price-normal{
	float:right;
	margin-right:5px;
	font:1.2em/1.5em Arial,sans-serif;
	font-weight:bold;
	font-size:24px;
	color:#ff8c00;
	padding:5px;
}


.filter-bars{
	height: 20px;
	width: 100%;
	margin: 10px 0;
}

.filter-bars input{
	width: auto;
	margin: 0 2px 0 10px;
	padding: 0;
	border: none;
}

#chk-type{
	float: left;
}

.rad-fil{
	width: auto;
	float: left;
	margin: 0 0 0 35px;
}






.result-price-expensive{
	float:right;
	margin-right:5px;
	font:1.2em/1.5em Arial,sans-serif;
	font-weight:bold;
	font-size:24px;
	color:#e3170d;
	padding:20px 5px 5px 0;
}


.result-price-cheap{
	float:right;
	margin-right:5px;
	font:1.2em/1.5em Arial,sans-serif;
	font-weight:bold;
	font-size:24px;
	color:#669d17;
	padding:20px 5px 5px 0;
}

