.main{
	margin: 0 auto;
	width: 760px;
	padding: 30px;
}
html{
	font-family: cambria,georgia,times,serif;
    font-size: 17px;
    line-height: 1.7;
}
h3{
	color: #111111;
    font-family: 'Vollkorn',cambria,georgia,times,serif;
    font-weight: normal;
    line-height: 1.1;
    word-wrap: break-word;
	font-size: 2.0em;
}

h4{
	font-family: "kaiti";
	font-style: bold;
	font-size: 1.4em;
	color: #848484;
}

p{
	margin: .5em 0 1.5em 0;
    word-wrap: break-word;
}

b{
	font-style: bold;
}

