.main{
  margin: 0 auto;
  width: 960px;
}

h3{
  font-family: "heiti";
  font-style: bold;
  font-size: 2em;
  color: #848484;
  margin-bottom: 5px; 
}

.personal-pad{
  width: 95%;
  text-align:left;
  border: 1px solid #a4a4a4;
  margin: 15px;
  padding: 15px;
  min-height: 200px;
}

#person-info-pad{
  width: 100%;
  text-align:left;
  min-height: 400px;
  padding-top: 20px;
}

.inp{
  padding-bottom: 10px; 
}

#modifybutton{
  color: #fff;
  font-size: 0.875em;
  font-weight: normal;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #00aa55;
  display: inline-block;
  min-width: 88px;
  cursor: pointer;
  margin: 1em 0 0 0;
  border: none;
}





.tabs {
  width: 650px;
  position: relative;
  margin: 10px 0 0 10px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: white;
  cursor: pointer;
  position: relative;
  top: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: white;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: white;
  border-top: thin solid gray;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #53CBE9;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}