.main{
	margin: 0 auto;
	width: 960px;
}

h3{
	font-family: "heiti";
	font-style: bold;
	font-size: 2em;
	color: #848484;
	margin-bottom: 5px; 
}

.searcher-pad{
	width: 100%;
	text-align:left;
	border: 1px solid #a4a4a4;
	margin: 15px;
	padding: 15px;
	min-height: 200px;
}

#trip-pad-left{
	width: 50%;
	min-height: 205px;
	float: left;
}

.trip-bars{
	padding:5px 0 10px 0;
	width:100%;
}

.start_pos{
	float:left;
	height: auto;
	padding: 0 20px 0 0;
}

.end_pos{
	float:left;
}

#div-start-end span{
	font-size: 0.85em;
	color: red;
	padding-left: 10px;
}

.go_date{
	float:left;
}


#div-price span{
	font-size: 0.85em;
	color: gray;
}

#sub-publish{
	color: #fff;
	font-size: 0.875em;
	font-weight: normal;
	padding: 10px 15px;
	text-transform: uppercase;
	background:#00aa55;
	display: inline-block;
	min-width: 88px;
	cursor:pointer;
	margin: 1em 0 0 0;

	border: none;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}

.lab-tripresult{
	color: #111111;
    font-family: 'Vollkorn',cambria,georgia,times,serif;
    font-weight: normal;
    line-height: 1.1;
    word-wrap: break-word;
	font-size: 1.2em;
}
.lab-tripresult-picked{
	color: red;
    font-family: 'Vollkorn',cambria,georgia,times,serif;
    font-weight: normal;
    line-height: 1.1;
    word-wrap: break-word;
	font-size: 1.2em;
}
.lab-tripresult-pickup{
	color: blue;
    font-family: 'Vollkorn',cambria,georgia,times,serif;
    font-weight: normal;
    line-height: 1.1;
    word-wrap: break-word;
	font-size: 1.2em;
}
.lab-tripresult-prix{
	color: #ff5511;
    font-family: 'Vollkorn',cambria,georgia,times,serif;
    font-weight: normal;
    line-height: 1.1;
    word-wrap: break-word;
	font-size: 1.6em;
}



#trip-pad-right{
	width: 480px;
	float: right;
	min-height: 200px;
}
#baidumap {
	width: 480px;
	height: 380px;
	overflow: hidden;
	margin:0;
	border:#ccc solid 1px;
}
